<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jp.cokking_album.repository.UsersMapper">
  <insert id="insert" parameterType="com.jp.cokking_album.dto.Users">
    INSERT INTO users VALUES (
      #{user_id, jdbcType=INTEGER},
      #{name, jdbcType=VARCHAR},
      #{role, jdbcType=INTEGER}
    )
  </insert>

  <select id="findById" parameterType="int" resultType="com.jp.cokking_album.dto.Users">
    SELECT * FROM USERS
      WHERE user_id = #{user_id}
  </select>
</mapper>